/* #222222 - background */
/* #111111 - banner */
/* #828282 - light header */
/* #4d4d4d- body text */
/* font-family: 'Raleway', sans-serif; */

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

header {
  height: 90vh;
}



ul,
li {
  list-style: none;
  padding: 0;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.galleryItem {
  width: calc((100% / 3) - 40px);
  margin-right: 20px;
  margin-bottom: 20px;
}

.galleryItem img {
  width: 100%;
}

.galleryItem:nth-child(3n) {
  margin-right: 0;
}

button {
  padding: 0;
  border: 0;
}

.shoppingCart {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: yellow;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.shoppingCart li {
  display: flex;
  align-items: center;
}

.shoppingCart li img {
  width: 100%;
}