/***** general styling *****/
html {
  font-size: 62.5%;

}
body {
  background: #222222;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 5.0rem;
  margin-bottom: 0;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.8rem;
}

h4,
.galleryItem p {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.4rem;
}


a {
  text-decoration: none;
  color: #828282;
}

a:hover {
  color: white;
}

ul,
li {
  list-style: none;
  padding: 0;
}

/* nav bar */
header {
  position: relative;
}

nav {
  background: #111111;
  color: #828282;
  font-size: 2.0rem; 
  width: 100%;
  z-index: 1;
  position: fixed;
}

.nav,
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightNav {
  display: flex;
  align-items: center;
}

.rightNav i{
  margin-left: 10px;
}

/* nav bar counter style */
.rightNav p {
  margin-left: 1px;
  margin-top: -10px;
  color: black;
  background: white;
  border: 1px solid white;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

.rightNav i:hover{
  color: white;
}

/* header/hero*/
header {
  height: 90vh;
}

.heroContainer {
  width: 60%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(216, 216, 216);
}

.heroContainer p {
  width: 70%;
  font-size: 1.5rem;
}

.select {
  margin-top: 50px;
}


/* main/gallery */

main {
  background: #222222;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.galleryItem {
  width: calc((100% / 3) - 40px);
  margin-right: 20px;
  margin-bottom: 20px;
}

.galleryItem img {
  width: 100%;
}

.galleryItem:nth-child(3n) {
  margin-right: 0;
}

.gallery button {
  padding: 0;
  border: 0;
  background-color: #222222;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1.25s ease;
  background-color: rgba(130, 130, 130, 0.591);
}

.overlay p {
  margin-top: 50%;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: rgba(216, 216, 216, 0.66);
}

.gallery button:hover .overlay {
  opacity: 1;
}


/* shopping cart menu */
.shoppingCart {
  height: 75%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.838);
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
  padding: 0;
  color: black;

}

.closeButton {
  font-size: 25px;
  margin-top: -60px;
  color: #828282;
}

.closeButton:hover {
  color: black;
}

.cartTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.cartTitle p {
  margin-left: 10px;
}

.shoppingCart li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.shoppingCart p {
  font-size: 1.3rem;
}

.shoppingCart li img,
.photoInfo {
  width: 50%;
}

.photoInfo {
  margin-left: 5px;
}
.shoppingCart button {
  padding: 5px;
  background: #828282;
  font-weight: 700;
  border: none;
}

.shoppingCart button:hover {
  background: #111111;
  color: white;
  padding: 5px;
}

/* footer */

footer {
  background: #111111;
  padding: 10px;
  color: #828282;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 10px;
  text-align: center;
}

footer a {
  text-decoration: underline;
}

/* media queries */

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .galleryItem {
    width: calc((100% / 2) - 40px);
  }

  .galleryItem:nth-child(2n) {
    margin-right: 0;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .heroContainer {
    width: 100%;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  html {
    font-size: 50%;
  }

  .galleryItem {
    width: 100%;
    margin-right: 0;
  }

 
  footer {
    line-height: normal;
  }

}