/* # - background */
/* #111111 - banner */
/* #828282 - light header */
/* #4d4d4d- body text */
/* font-family: 'Raleway', sans-serif; */

/* general styling */
body {
  background: #222222;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #828282;
}

a:hover {
  color: white;
}

ul,
li {
  list-style: none;
  padding: 0;
}

/* nav bar */

nav {
  background: #111111;
  color: #828282;
  font-size: 20px;
}

.nav,
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightNav i {
   margin-left: 15px;
}

.rightNav i:hover{
  color: white;
}

/* header/hero*/
header {
  height: 90vh;
}

.heroContainer {
  width: 60%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(216, 216, 216);
}

.heroContainer p {
  width: 60%;
}

h1 {
  text-transform: uppercase;
  
  font-weight: bolder;
  font-size: 50px;
}

/* main/gallery */

main {
  background: #222222;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.galleryItem {
  width: calc((100% / 3) - 40px);
  margin-right: 20px;
  margin-bottom: 20px;
}

.galleryItem img {
  width: 100%;
}

.galleryItem:nth-child(3n) {
  margin-right: 0;
}

.gallery button {
  padding: 0;
  border: 0;
  background-color: #222222;
}

/* shopping cart menu */
.shoppingCart {
  height: 75%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
  padding: 20px;
  color: black;
}

.shoppingCart li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.shoppingCart li img,
.photoInfo {
  width: 50%;
}


footer {
  background: #111111;
  padding: 10px;
  color: #828282;
  font-size: 15px;
  font-weight: 700;
  line-height: 10px;
  text-align: center;
  
}
